.circle-container {
    display: inline-block;
    margin: 10px; 
}

.circle-icon {
    width: 70px;
    height: 70px; 
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.circle-icon i {
    font-size: 2rem;
}

